.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.024902;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.024902;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._73{margin-left:-1737.849638px;}
._8a{margin-left:-1730.228406px;}
._7f{margin-left:-1728.737995px;}
._56{margin-left:-1725.512060px;}
._3e{margin-left:-1717.656639px;}
._82{margin-left:-1712.952133px;}
._22{margin-left:-1710.537983px;}
._5e{margin-left:-1708.743564px;}
._72{margin-left:-1704.325480px;}
._53{margin-left:-1703.214590px;}
._85{margin-left:-1701.385123px;}
._4{margin-left:-1700.035024px;}
._3d{margin-left:-1698.410407px;}
._55{margin-left:-1693.845676px;}
._89{margin-left:-1692.115642px;}
._4d{margin-left:-1689.655598px;}
._1c{margin-left:-1679.865437px;}
._5a{margin-left:-1671.835376px;}
._6e{margin-left:-1666.446097px;}
._83{margin-left:-1664.289390px;}
._48{margin-left:-1655.242004px;}
._67{margin-left:-1649.140207px;}
._7a{margin-left:-1639.239404px;}
._74{margin-left:-1635.364622px;}
._38{margin-left:-1613.032170px;}
._5c{margin-left:-1611.050747px;}
._76{margin-left:-1592.196111px;}
._33{margin-left:-1579.542689px;}
._57{margin-left:-1577.567235px;}
._7b{margin-left:-1573.020064px;}
._13{margin-left:-1570.132761px;}
._51{margin-left:-1568.110636px;}
._58{margin-left:-1565.959579px;}
._69{margin-left:-1534.369784px;}
._84{margin-left:-1528.852145px;}
._6b{margin-left:-1506.215832px;}
._64{margin-left:-1494.994207px;}
._0{margin-left:-1.262438px;}
._1{width:1.250747px;}
._12{width:11.315266px;}
._45{width:13.653022px;}
._3{width:14.962209px;}
._2{width:17.954661px;}
._19{width:20.292506px;}
._2d{width:21.601703px;}
._16{width:22.630352px;}
._2c{width:23.939545px;}
._47{width:26.931998px;}
._5f{width:28.685624px;}
._49{width:30.012104px;}
._37{width:32.174610px;}
._86{width:33.197085px;}
._1d{width:35.254723px;}
._61{width:36.563938px;}
._18{width:38.247166px;}
._60{width:39.556349px;}
._32{width:41.239610px;}
._10{width:44.232053px;}
._7{width:47.224496px;}
._42{width:50.216939px;}
._39{width:53.209383px;}
._40{width:56.201826px;}
._27{width:59.194269px;}
._1e{width:62.186713px;}
._2a{width:65.179156px;}
._a{width:68.171599px;}
._23{width:71.164043px;}
._35{width:74.156486px;}
._c{width:77.148929px;}
._29{width:80.141373px;}
._f{width:83.133816px;}
._1f{width:86.126259px;}
._8{width:89.118703px;}
._5{width:92.111146px;}
._11{width:95.103589px;}
._2e{width:97.535032px;}
._6d{width:98.750631px;}
._17{width:101.088476px;}
._4b{width:103.899652px;}
._36{width:106.418765px;}
._4c{width:107.838842px;}
._2f{width:110.065806px;}
._46{width:113.058249px;}
._30{width:116.050693px;}
._26{width:119.043136px;}
._b{width:122.035579px;}
._2b{width:125.028022px;}
._14{width:128.020466px;}
._d{width:131.012909px;}
._4a{width:134.005352px;}
._3b{width:136.997796px;}
._52{width:139.990239px;}
._4f{width:142.328078px;}
._66{width:143.818554px;}
._9{width:145.975126px;}
._6{width:148.967569px;}
._1a{width:151.960012px;}
._15{width:154.952456px;}
._25{width:157.944899px;}
._28{width:160.937342px;}
._43{width:163.275196px;}
._78{width:164.584375px;}
._3a{width:166.922229px;}
._3c{width:169.914672px;}
._24{width:172.907116px;}
._20{width:175.899559px;}
._44{width:178.237413px;}
._31{width:179.453005px;}
._4e{width:181.884446px;}
._5b{width:184.876889px;}
._59{width:187.869332px;}
._1b{width:190.861776px;}
._6f{width:193.018354px;}
._71{width:194.105190px;}
._41{width:196.746598px;}
._77{width:199.184508px;}
._7e{width:202.545159px;}
._7d{width:203.579658px;}
._75{width:204.917744px;}
._6a{width:206.659857px;}
._34{width:208.816435px;}
._70{width:211.808879px;}
._68{width:215.455920px;}
._88{width:218.022918px;}
._79{width:219.839513px;}
._3f{width:223.778652px;}
._e{width:229.763539px;}
._80{width:235.076301px;}
._6c{width:236.403023px;}
._65{width:237.992811px;}
._81{width:239.593891px;}
._54{width:248.279199px;}
._21{width:253.703085px;}
._5d{width:259.788036px;}
._62{width:267.846998px;}
._87{width:269.319906px;}
._63{width:286.619962px;}
._7c{width:344.265408px;}
._50{width:373.488487px;}
.fc1{color:rgb(17,85,204);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:35.909320px;}
.fs0{font-size:71.818640px;}
.y0{bottom:0.000000px;}
.y1{bottom:1.619630px;}
.y1a{bottom:8.977323px;}
.y19{bottom:21.695207px;}
.y18{bottom:34.413091px;}
.y17{bottom:47.130975px;}
.y16{bottom:59.848859px;}
.y15{bottom:72.566743px;}
.y65{bottom:80.047895px;}
.y14{bottom:85.284627px;}
.y64{bottom:90.521446px;}
.y30{bottom:92.017651px;}
.y13{bottom:98.002512px;}
.y93{bottom:99.498813px;}
.y2f{bottom:102.491202px;}
.y63{bottom:106.979885px;}
.y12{bottom:110.720396px;}
.y62{bottom:117.453436px;}
.y2e{bottom:118.949641px;}
.y92{bottom:120.445917px;}
.y11{bottom:123.438280px;}
.y61{bottom:127.926988px;}
.y2d{bottom:129.423192px;}
.y91{bottom:130.919468px;}
.y10{bottom:136.156164px;}
.y2c{bottom:139.896744px;}
.y60{bottom:144.385426px;}
.yf{bottom:148.874048px;}
.y90{bottom:151.866571px;}
.y5f{bottom:154.858978px;}
.y2b{bottom:156.355182px;}
.y5e{bottom:165.332529px;}
.y2a{bottom:166.828734px;}
.y8f{bottom:172.813675px;}
.y5d{bottom:181.790968px;}
.y29{bottom:183.287172px;}
.y8e{bottom:189.272113px;}
.y5c{bottom:198.249406px;}
.y28{bottom:199.745610px;}
.y8d{bottom:205.730551px;}
.y5b{bottom:208.722957px;}
.y27{bottom:216.204049px;}
.y8c{bottom:216.204103px;}
.y5a{bottom:225.181396px;}
.y26{bottom:226.677600px;}
.y8b{bottom:232.662541px;}
.y25{bottom:237.151152px;}
.y59{bottom:241.639834px;}
.y24{bottom:247.624703px;}
.y8a{bottom:249.120979px;}
.y58{bottom:258.098272px;}
.y23{bottom:264.083142px;}
.y89{bottom:265.579418px;}
.y57{bottom:268.571824px;}
.y22{bottom:274.556693px;}
.y56{bottom:279.045375px;}
.y88{bottom:282.037856px;}
.y21{bottom:291.015132px;}
.y87{bottom:292.511407px;}
.y55{bottom:295.503814px;}
.y20{bottom:301.488683px;}
.y54{bottom:305.977365px;}
.y86{bottom:308.969846px;}
.y53{bottom:316.450917px;}
.y1f{bottom:317.947121px;}
.y85{bottom:319.443397px;}
.y52{bottom:326.924469px;}
.y1e{bottom:328.420673px;}
.y84{bottom:329.916949px;}
.y51{bottom:337.398020px;}
.y1d{bottom:344.879111px;}
.y83{bottom:346.375387px;}
.y50{bottom:353.856458px;}
.y1c{bottom:361.337550px;}
.y82{bottom:362.833825px;}
.y4f{bottom:364.330010px;}
.y81{bottom:373.307377px;}
.y4e{bottom:380.788448px;}
.y1b{bottom:382.284653px;}
.y80{bottom:389.765815px;}
.y4d{bottom:391.262000px;}
.ye{bottom:392.881620px;}
.y7f{bottom:406.224254px;}
.y4c{bottom:407.720438px;}
.y4b{bottom:418.193990px;}
.y7e{bottom:422.682692px;}
.y7d{bottom:433.156243px;}
.y4a{bottom:434.652428px;}
.y7c{bottom:443.629795px;}
.y49{bottom:445.125980px;}
.y48{bottom:455.599531px;}
.y7b{bottom:460.088233px;}
.y47{bottom:466.073083px;}
.y7a{bottom:470.561785px;}
.y46{bottom:482.531521px;}
.y79{bottom:487.020223px;}
.y45{bottom:493.005073px;}
.y78{bottom:497.493775px;}
.y44{bottom:503.478624px;}
.y43{bottom:513.952176px;}
.y77{bottom:513.952213px;}
.y76{bottom:524.425765px;}
.y42{bottom:530.410614px;}
.y75{bottom:540.884203px;}
.y41{bottom:546.869053px;}
.y40{bottom:557.342604px;}
.y74{bottom:557.342641px;}
.yd{bottom:567.816139px;}
.y3f{bottom:567.816156px;}
.y73{bottom:578.289744px;}
.y3e{bottom:584.274594px;}
.y72{bottom:588.763296px;}
.yc{bottom:590.259464px;}
.y3d{bottom:594.748146px;}
.yb{bottom:602.977348px;}
.y71{bottom:605.221734px;}
.y3c{bottom:611.206584px;}
.ya{bottom:615.695232px;}
.y70{bottom:621.680173px;}
.y3b{bottom:627.665022px;}
.y9{bottom:628.413116px;}
.y3a{bottom:638.138574px;}
.y6f{bottom:638.138611px;}
.y6e{bottom:648.612163px;}
.y8{bottom:650.856441px;}
.y39{bottom:654.597012px;}
.y99{bottom:657.589320px;}
.y7{bottom:663.574325px;}
.y38{bottom:665.070564px;}
.y6d{bottom:665.070601px;}
.y6c{bottom:675.544152px;}
.y6{bottom:676.292209px;}
.y98{bottom:678.536423px;}
.y37{bottom:681.529002px;}
.y5{bottom:689.010093px;}
.y36{bottom:692.002554px;}
.y6b{bottom:692.002591px;}
.y97{bottom:699.483526px;}
.y6a{bottom:702.476142px;}
.y35{bottom:708.460992px;}
.y4{bottom:709.957196px;}
.y69{bottom:718.934581px;}
.y96{bottom:720.430629px;}
.y34{bottom:724.919430px;}
.y68{bottom:729.408132px;}
.y3{bottom:730.904300px;}
.y33{bottom:735.392982px;}
.y95{bottom:741.377733px;}
.y67{bottom:745.866570px;}
.y32{bottom:751.851420px;}
.y2{bottom:753.347625px;}
.y94{bottom:762.324836px;}
.y31{bottom:762.324972px;}
.y66{bottom:762.325009px;}
.h3{height:29.386729px;}
.h2{height:58.773457px;}
.h4{height:163.088170px;}
.h1{height:839.380370px;}
.h0{height:841.000000px;}
.w2{width:239.395450px;}
.w1{width:239.395469px;}
.w0{width:594.000000px;}
.x0{left:0.000000px;}
.xa{left:5.236774px;}
.x8{left:8.229217px;}
.x9{left:21.695212px;}
.x5{left:35.161210px;}
.x6{left:49.375316px;}
.x3{left:56.108312px;}
.x4{left:92.017632px;}
.x2{left:175.806045px;}
.x1{left:237.899244px;}
.x7{left:295.503780px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._73{margin-left:-2317.132851pt;}
._8a{margin-left:-2306.971207pt;}
._7f{margin-left:-2304.983994pt;}
._56{margin-left:-2300.682747pt;}
._3e{margin-left:-2290.208852pt;}
._82{margin-left:-2283.936177pt;}
._22{margin-left:-2280.717310pt;}
._5e{margin-left:-2278.324752pt;}
._72{margin-left:-2272.433974pt;}
._53{margin-left:-2270.952787pt;}
._85{margin-left:-2268.513497pt;}
._4{margin-left:-2266.713365pt;}
._3d{margin-left:-2264.547210pt;}
._55{margin-left:-2258.460902pt;}
._89{margin-left:-2256.154189pt;}
._4d{margin-left:-2252.874131pt;}
._1c{margin-left:-2239.820582pt;}
._5a{margin-left:-2229.113835pt;}
._6e{margin-left:-2221.928129pt;}
._83{margin-left:-2219.052520pt;}
._48{margin-left:-2206.989339pt;}
._67{margin-left:-2198.853609pt;}
._7a{margin-left:-2185.652538pt;}
._74{margin-left:-2180.486162pt;}
._38{margin-left:-2150.709560pt;}
._5c{margin-left:-2148.067662pt;}
._76{margin-left:-2122.928148pt;}
._33{margin-left:-2106.056918pt;}
._57{margin-left:-2103.422980pt;}
._7b{margin-left:-2097.360085pt;}
._13{margin-left:-2093.510348pt;}
._51{margin-left:-2090.814181pt;}
._58{margin-left:-2087.946105pt;}
._69{margin-left:-2045.826379pt;}
._84{margin-left:-2038.469526pt;}
._6b{margin-left:-2008.287777pt;}
._64{margin-left:-1993.325609pt;}
._0{margin-left:-1.683251pt;}
._1{width:1.667663pt;}
._12{width:15.087022pt;}
._45{width:18.204029pt;}
._3{width:19.949612pt;}
._2{width:23.939548pt;}
._19{width:27.056675pt;}
._2d{width:28.802271pt;}
._16{width:30.173802pt;}
._2c{width:31.919394pt;}
._47{width:35.909330pt;}
._5f{width:38.247498pt;}
._49{width:40.016138pt;}
._37{width:42.899480pt;}
._86{width:44.262780pt;}
._1d{width:47.006297pt;}
._61{width:48.751917pt;}
._18{width:50.996222pt;}
._60{width:52.741798pt;}
._32{width:54.986146pt;}
._10{width:58.976070pt;}
._7{width:62.965995pt;}
._42{width:66.955919pt;}
._39{width:70.945844pt;}
._40{width:74.935768pt;}
._27{width:78.925693pt;}
._1e{width:82.915617pt;}
._2a{width:86.905541pt;}
._a{width:90.895466pt;}
._23{width:94.885390pt;}
._35{width:98.875315pt;}
._c{width:102.865239pt;}
._29{width:106.855164pt;}
._f{width:110.845088pt;}
._1f{width:114.835012pt;}
._8{width:118.824937pt;}
._5{width:122.814861pt;}
._11{width:126.804786pt;}
._2e{width:130.046710pt;}
._6d{width:131.667507pt;}
._17{width:134.784635pt;}
._4b{width:138.532870pt;}
._36{width:141.891686pt;}
._4c{width:143.785123pt;}
._2f{width:146.754408pt;}
._46{width:150.744332pt;}
._30{width:154.734257pt;}
._26{width:158.724181pt;}
._b{width:162.714106pt;}
._2b{width:166.704030pt;}
._14{width:170.693954pt;}
._d{width:174.683879pt;}
._4a{width:178.673803pt;}
._3b{width:182.663728pt;}
._52{width:186.653652pt;}
._4f{width:189.770770pt;}
._66{width:191.758072pt;}
._9{width:194.633501pt;}
._6{width:198.623425pt;}
._1a{width:202.613350pt;}
._15{width:206.603274pt;}
._25{width:210.593199pt;}
._28{width:214.583123pt;}
._43{width:217.700262pt;}
._78{width:219.445833pt;}
._3a{width:222.562972pt;}
._3c{width:226.552896pt;}
._24{width:230.542821pt;}
._20{width:234.532745pt;}
._44{width:237.649884pt;}
._31{width:239.270673pt;}
._4e{width:242.512594pt;}
._5b{width:246.502518pt;}
._59{width:250.492443pt;}
._1b{width:254.482367pt;}
._6f{width:257.357805pt;}
._71{width:258.806920pt;}
._41{width:262.328797pt;}
._77{width:265.579343pt;}
._7e{width:270.060212pt;}
._7d{width:271.439544pt;}
._75{width:273.223659pt;}
._6a{width:275.546476pt;}
._34{width:278.421914pt;}
._70{width:282.411838pt;}
._68{width:287.274560pt;}
._88{width:290.697224pt;}
._79{width:293.119350pt;}
._3f{width:298.371536pt;}
._e{width:306.351385pt;}
._80{width:313.435068pt;}
._6c{width:315.204031pt;}
._65{width:317.323748pt;}
._81{width:319.458522pt;}
._54{width:331.038932pt;}
._21{width:338.270780pt;}
._5d{width:346.384048pt;}
._62{width:357.129330pt;}
._87{width:359.093209pt;}
._63{width:382.159949pt;}
._7c{width:459.020544pt;}
._50{width:497.984650pt;}
.fs1{font-size:47.879093pt;}
.fs0{font-size:95.758186pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:2.159507pt;}
.y1a{bottom:11.969764pt;}
.y19{bottom:28.926943pt;}
.y18{bottom:45.884121pt;}
.y17{bottom:62.841300pt;}
.y16{bottom:79.798479pt;}
.y15{bottom:96.755658pt;}
.y65{bottom:106.730526pt;}
.y14{bottom:113.712837pt;}
.y64{bottom:120.695262pt;}
.y30{bottom:122.690201pt;}
.y13{bottom:130.670015pt;}
.y93{bottom:132.665084pt;}
.y2f{bottom:136.654937pt;}
.y63{bottom:142.639846pt;}
.y12{bottom:147.627194pt;}
.y62{bottom:156.604582pt;}
.y2e{bottom:158.599521pt;}
.y92{bottom:160.594555pt;}
.y11{bottom:164.584373pt;}
.y61{bottom:170.569317pt;}
.y2d{bottom:172.564256pt;}
.y91{bottom:174.559291pt;}
.y10{bottom:181.541552pt;}
.y2c{bottom:186.528992pt;}
.y60{bottom:192.513901pt;}
.yf{bottom:198.498731pt;}
.y90{bottom:202.488762pt;}
.y5f{bottom:206.478637pt;}
.y2b{bottom:208.473576pt;}
.y5e{bottom:220.443372pt;}
.y2a{bottom:222.438312pt;}
.y8f{bottom:230.418233pt;}
.y5d{bottom:242.387957pt;}
.y29{bottom:244.382896pt;}
.y8e{bottom:252.362817pt;}
.y5c{bottom:264.332541pt;}
.y28{bottom:266.327480pt;}
.y8d{bottom:274.307402pt;}
.y5b{bottom:278.297277pt;}
.y27{bottom:288.272065pt;}
.y8c{bottom:288.272137pt;}
.y5a{bottom:300.241861pt;}
.y26{bottom:302.236800pt;}
.y8b{bottom:310.216721pt;}
.y25{bottom:316.201536pt;}
.y59{bottom:322.186445pt;}
.y24{bottom:330.166271pt;}
.y8a{bottom:332.161306pt;}
.y58{bottom:344.131030pt;}
.y23{bottom:352.110856pt;}
.y89{bottom:354.105890pt;}
.y57{bottom:358.095765pt;}
.y22{bottom:366.075591pt;}
.y56{bottom:372.060501pt;}
.y88{bottom:376.050474pt;}
.y21{bottom:388.020175pt;}
.y87{bottom:390.015210pt;}
.y55{bottom:394.005085pt;}
.y20{bottom:401.984911pt;}
.y54{bottom:407.969820pt;}
.y86{bottom:411.959794pt;}
.y53{bottom:421.934556pt;}
.y1f{bottom:423.929495pt;}
.y85{bottom:425.924530pt;}
.y52{bottom:435.899291pt;}
.y1e{bottom:437.894231pt;}
.y84{bottom:439.889265pt;}
.y51{bottom:449.864027pt;}
.y1d{bottom:459.838815pt;}
.y83{bottom:461.833850pt;}
.y50{bottom:471.808611pt;}
.y1c{bottom:481.783400pt;}
.y82{bottom:483.778434pt;}
.y4f{bottom:485.773347pt;}
.y81{bottom:497.743169pt;}
.y4e{bottom:507.717931pt;}
.y1b{bottom:509.712870pt;}
.y80{bottom:519.687754pt;}
.y4d{bottom:521.682667pt;}
.ye{bottom:523.842160pt;}
.y7f{bottom:541.632338pt;}
.y4c{bottom:543.627251pt;}
.y4b{bottom:557.591986pt;}
.y7e{bottom:563.576922pt;}
.y7d{bottom:577.541658pt;}
.y4a{bottom:579.536571pt;}
.y7c{bottom:591.506393pt;}
.y49{bottom:593.501306pt;}
.y48{bottom:607.466042pt;}
.y7b{bottom:613.450978pt;}
.y47{bottom:621.430777pt;}
.y7a{bottom:627.415713pt;}
.y46{bottom:643.375362pt;}
.y79{bottom:649.360298pt;}
.y45{bottom:657.340097pt;}
.y78{bottom:663.325033pt;}
.y44{bottom:671.304833pt;}
.y43{bottom:685.269568pt;}
.y77{bottom:685.269617pt;}
.y76{bottom:699.234353pt;}
.y42{bottom:707.214152pt;}
.y75{bottom:721.178937pt;}
.y41{bottom:729.158737pt;}
.y40{bottom:743.123472pt;}
.y74{bottom:743.123522pt;}
.yd{bottom:757.088185pt;}
.y3f{bottom:757.088208pt;}
.y73{bottom:771.052993pt;}
.y3e{bottom:779.032792pt;}
.y72{bottom:785.017728pt;}
.yc{bottom:787.012618pt;}
.y3d{bottom:792.997528pt;}
.yb{bottom:803.969797pt;}
.y71{bottom:806.962312pt;}
.y3c{bottom:814.942112pt;}
.ya{bottom:820.926976pt;}
.y70{bottom:828.906897pt;}
.y3b{bottom:836.886696pt;}
.y9{bottom:837.884155pt;}
.y3a{bottom:850.851432pt;}
.y6f{bottom:850.851481pt;}
.y6e{bottom:864.816217pt;}
.y8{bottom:867.808588pt;}
.y39{bottom:872.796016pt;}
.y99{bottom:876.785759pt;}
.y7{bottom:884.765767pt;}
.y38{bottom:886.760752pt;}
.y6d{bottom:886.760801pt;}
.y6c{bottom:900.725537pt;}
.y6{bottom:901.722945pt;}
.y98{bottom:904.715230pt;}
.y37{bottom:908.705336pt;}
.y5{bottom:918.680124pt;}
.y36{bottom:922.670071pt;}
.y6b{bottom:922.670121pt;}
.y97{bottom:932.644701pt;}
.y6a{bottom:936.634856pt;}
.y35{bottom:944.614656pt;}
.y4{bottom:946.609595pt;}
.y69{bottom:958.579441pt;}
.y96{bottom:960.574172pt;}
.y34{bottom:966.559240pt;}
.y68{bottom:972.544176pt;}
.y3{bottom:974.539066pt;}
.y33{bottom:980.523976pt;}
.y95{bottom:988.503643pt;}
.y67{bottom:994.488761pt;}
.y32{bottom:1002.468560pt;}
.y2{bottom:1004.463499pt;}
.y94{bottom:1016.433114pt;}
.y31{bottom:1016.433295pt;}
.y66{bottom:1016.433345pt;}
.h3{height:39.182305pt;}
.h2{height:78.364609pt;}
.h4{height:217.450893pt;}
.h1{height:1119.173827pt;}
.h0{height:1121.333333pt;}
.w2{width:319.193933pt;}
.w1{width:319.193959pt;}
.w0{width:792.000000pt;}
.x0{left:0.000000pt;}
.xa{left:6.982365pt;}
.x8{left:10.972289pt;}
.x9{left:28.926949pt;}
.x5{left:46.881614pt;}
.x6{left:65.833755pt;}
.x3{left:74.811083pt;}
.x4{left:122.690176pt;}
.x2{left:234.408060pt;}
.x1{left:317.198992pt;}
.x7{left:394.005040pt;}
}
